# Compiled class files
**/*.class

# Logs and databases
**/log/
**/database/

# Build directories
**/target/
**/out/

# Maven Ignores
log/
target/
*.iml
.idea/
.env

# Other unnecessary files
*.log
*.tmp
*.bak



